.c-experiences {
  h2 {
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq($until: desktop) {
      flex-direction: column;
    }

    article {
      flex: 0 0 calc(50% - 1rem);
      background-color: $color-white;
      box-shadow: $box-shadow;
      border: solid 1px $border-color;
      padding: $base-padding * 2 $base-padding * 3;
      height: 100%;
      border-radius: $border-radius;
      margin-top: $base-padding;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: lighten($color-primary, 35%);
      }

      header {
        span {
          margin-bottom: 20px;
          display: block;
          text-align: right;

          @include mq($until: tablet) {
            padding-top: 10px;
            margin-bottom: 10px;
          }
        }
      }

      @include mq($from: desktop) {
        &:nth-child(2) {
          margin-top: $base-padding * 15;
        }

        &:nth-child(3),
        &:nth-child(5) {
          margin-top: - $base-padding * 5;
        }

        &:nth-child(4) {
          margin-top: $base-padding * 5;
        }
      }

      @include mq($until: tablet) {
        flex: 1;
        padding: $base-padding;
      }
    }
  }

  &__article {
    &--1, &--2, &--3, &--4 {
      opacity: 0;
    }

    &--1-animate, &--2-animate, &--3-animate, &--4-animate {
      opacity: 1;
    }

    &--1-animate {
      animation: wobble 3s ease-in-out;
      position: relative;
    }

    &--2-animate {
      animation: fadeOut 2s ease-in-out;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 150px;
        left: -34px;
        z-index: 1;

        animation: width0To100 2s forwards;

        @include mq($until: desktop) {
          z-index: 10;
          animation: width0To100Down 1s forwards 1s;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &--3-animate {
      animation: fadeOut 2s ease-in-out;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 30px;
        left: 622px;
        z-index: 1;

        animation: width0To100 2s forwards;

        @include mq($until: desktop) {
          animation: width0To100Down 1s forwards 1s;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &--4-animate {
      animation: fadeOut 3s ease-in-out;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 150px;
        left: -34px;

        animation: width0To100 2s forwards;

        @include mq($until: desktop) {
          animation: width0To100Down 1s forwards 1s;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &--5 {
      animation: fadeOut 3s backwards 24s;
    }
  }
}
