/**
#3383FF --> primary
#2EA8E8
#40EFFF
#2EE8C4
#33FF9E
 */

$color-primary: #3383FF;
$color-success: #33FF9E;
$color-danger: #FF624D;
$color-warning: #FFBB33;

$color-text-primary: #0D2172;
$color-heading-primary: #0D2140;
$color-text-secondary: #344380;
$color-heading-secondary: #0E2580;

$color-gray: #546E7A;
$color-gray-light: #F0F0F0;

$color-white: #fff;

$box-shadow: rgba(96, 125, 139, .08) 0 1px 3px 0;

$border-color: #BEBEBE;
