$color-background: #7AC6BD;
$color-background-secondary: #1B97BA;
$color-box: #FEFEFE;
$color-details: #ECEEF0;
$color-white: #fff;
$box-shadow: rgba(96, 125, 139, .08) 0 1px 3px 0;
$border-color: $color-details;
