ul {
  list-style: none;

  li {
    line-height: $line-height/1.2;
    position: relative;
    margin: 0 $base-padding * 2.75;
    color: $color-white;

    @include mq($until: tablet) {
      margin: 0 $base-padding;
    }

    &::after {
      content: "";
      color: #006b6e;
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translate(-50%, -20%);
      background-color: $color-details;
      width: 5px;
      height: 5px;
    }
  }
}
