time {
  color: $color-details;

  + time {
    position: relative;
    padding-left: 40px;
    padding-bottom: 40px;

    &::before {
      content: 'até';
      position: absolute;
      top: 3px;
      left: 10px;
      color: $color-white;
      font-size: .85rem;
    }
  }
}
